*
{
  margin: 0;
  padding: 0;
  background-color: #000000
}

.textbox
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: "Arial", monospace;
}

.text
{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
    /*--Writing Animation--*/
    animation: animated-text 2s steps(36, end) normal, animated-cursor 666ms steps(36, end) infinite;
    /*---------------------*/
    white-space: nowrap;
    font-size: 128px;
    color: #FFFFFF;
    font-weight: bolder;
    border-right: solid 10px #FFFFFF;
    box-sizing: border-box;
}

/*--Text Animation--*/
@keyframes animated-text
{
  from
  {
    width: 0%;
  }
  to
  {
    width: 100%;
  }
}

/*--Cursor Animation--*/
@keyframes animated-cursor
{
  from
  {
    border-right-color: #FFFFFF;
  }
  to
  {
    border-right-color: transparent;
  }
}
